@import "./reset.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
}
.pg-container {
  max-width: 1064px;
  padding: 20px 20px 40px;
  margin: 0 auto;
}
.date-picker-wrapper {
  display: flex;
  justify-content: center;
}
.date-picker {
  margin: 0 auto 30px;
  border: 1px solid #ddd;
}
.rdrDayToday .rdrDayNumber span:after {
  display: none;
}
.nav-list {
  display: flex;
  margin-bottom: 40px;
  li {
    margin-right: 20px;
  }
  a {
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    &.active {
      color: #000;
      text-decoration: underline;
    }
  }
}
.table {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  th,
  td {
    padding: 5px 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  th {
    font-weight: bold;
  }
}
.charts-wrapper {
  margin-top: 40px;
  .chart-wrapper {
    padding: 5px 10px;
    margin-bottom: 30px;
    background-color: #fafafa;
  }
  .chart-date {
    margin-bottom: 15px;
    font-weight: bold;
  }
  .chart-data {
    display: flex;
    flex-direction: column;
  }
  .chart-bar {
    margin-bottom: 5px;
    background-color: green;
  }
  .total-color {
    background-color: #3d91ff;
  }
  .bananas-color {
    background-color: #f5da58;
  }
  .strawberries-color {
    background-color: #ef3535;
  }
  .apples-color {
    background-color: #17a517;
  }
  .oranges-color {
    background-color: #f5ae2d;
  }
  .sales {
    font-style: italic;
    color: #000;
  }

  @media (min-width: 768px) {
    .chart-data {
      flex-direction: row;
    }
    .data-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex-grow: 1;
    }
    .data-label {
      order: 1;
    }
    .chart-bar {
      width: 20px !important;
    }
  }

  @media (max-width: 767px) {
    .chart-bar {
      height: 20px !important;
    }
  }
}
.sales-form {
  margin-top: 40px;
}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.control-label {
  flex-basis: 30%;
}
.form-control {
  flex-grow: 1;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  color: #666;
  box-shadow: none;
  -webkit-appearance: none;
  &:disabled {
    background-color: #eee;
    border-color: #ddd;
    opacity: 1;
  }
  &:active,
  &:focus {
    border-color: #3d91ff;
    outline: none;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 34px;
  padding: 0 15px;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 1.4;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;
  color: #212529;
  background-color: transparent;
  .loader {
    width: 25px;
    height: 25px;
    margin-left: 10px;
  }
}
.btn-green {
  color: #fff;
  background-color: #17a517;
  border-color: #17a517;
  &:hover {
    background-color: #0f9a0f;
    border-color: #0f9a0f;
  }
}
.save-btn {
  margin-top: 30px;
}
